.default-menu-toggle{
    background: rgba(22,27,61,.3);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #565b8d;
    margin: auto auto;
    color: white;
    display: flex;
    overflow: hidden;
    font-size: 18pt;
    transition: .5s background, .5s color;
    user-select: none;
    animation: grow .15s;
}

@keyframes grow{
    from{
        transform: scale(0.1);
    }
    to{
        transform: scale(1);
    }
}
@keyframes shrink{
    from{
        transform: scale(1) skew(0deg) ;
    }
    to{
        transform: scale(0.1) skew(30deg);
    }
}

.default-menu-toggle:hover{
    cursor: pointer;
    border-color: white;
}
.wrapper{
    display: flex;
    margin: auto auto;
}

.default-menu-toggle-animation{
    animation: shrink .25s ease-in-out, hless .25s ease-in-out forwards;
    overflow: hidden;
}

@keyframes slideUp{
    0%{
        background:white;
        color: gray;
        transform: translateY(0px);
    }
    100%{
        background:white;
        color: gray;
        transform: translateY(-10px);
    }
}
@keyframes hless{
    0%{
        padding: 10px;
        opacity: 1;
        max-height: 200px;
    }
    10%{
        padding: 2px 10px;
        max-height: 0px;
    }
    50%{
        padding: 0px 10px;
        opacity: 1;
    }
    100%{
        padding: 0px 10px;
        max-height: 0px;
        opacity: 0;
    }
}
@keyframes slide{
    0%{
        padding: 10px;
        max-height: 200px;
        opacity: 1;
        background: rgb(100,100,100);
    }
    5%{
        padding: 8px;
        transform: translateY(10px);
    }
    75%{
        padding: 20px;
        max-height: 200px;
        transform: translateY(-40px);
        opacity: 1;
    }
    77%{
        padding: 18px;
    }
    79%{
        padding: 22px;
    }
    100%{
        background: white;
        color: black;
        padding: 0px;
        max-height: 0px;
        transform: translateY(0px);
        opacity: 0;
    }
}
