
body{
    overflow:hidden;
    display: flex;
    background: black;
    box-sizing: border-box;
}
.App {
  text-align: center;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0b1c27 0%, #182848 100%) !important;
  display: flex;
}
.Numbers{
    color: white;
    position: absolute;
}

.EffectZone{
    background: rgba(22,27,61,.3);
    border-radius: 10px;
    border: 1px solid #565b8d;
    margin: auto auto;
    color: white;
    display: flex;
    font-size: 18pt;
    padding: 20px;

}
.EffectZone ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul{
    text-justify: left;
    text-align: left;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 960px){
    .EffectZone{
    }
}

@media only screen and (min-width: 1200px){
    .EffectZone{
    }
}

@media only screen and (min-width: 1500px){
    .EffectZone{
    }
}

@keyframes appear{
    0%{
        transform: scale(0.0001);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1) translate(-100px, 0px);
    }
}
