
.blur{
    background: radial-gradient(circle, rgba(36,0,65,0.865983893557423) 13%, rgba(255,255,255,0) 100%);
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    animation: bg-appear .3s;
}
.blur-out{
    background: radial-gradient(circle, rgba(36,0,65,0.865983893557423) 13%, rgba(255,255,255,0) 100%);
    background: yellow;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    animation: bg-appear .3s;
    animation-direction: reverse;
}
body{
    overflow:hidden;
    display: flex;
    background: black;
    box-sizing: border-box;
}

.node-body{
}
.close-button{
    position: absolute;
    top: 0;
    right: 5px;
    opacity: .6;
}
.close-button:hover{
    cursor: pointer;
    opacity: .8;
}
.portal{
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
}
.App {
  text-align: center;
  position: absolute;
  overflow-y: scroll;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #0b1c27 0%, #182848 100%) !important;
  display: flex;
}

@keyframes bg-appear{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.Numbers{
    color: white;
    position: absolute;
}

.EffectZone{
    background: rgba(22,27,61,.3);
    border-radius: 10px;
    user-select:none;
    border: 1px solid #565b8d;
    margin: auto auto;
    color: white;
    display: flex;
    font-size: 18pt;
    padding: 20px;
    animation: .3s appear forwards;
}
.EffectZone-out{
    background: rgba(22,27,61,.3);
    border-radius: 10px;
    user-select:none;
    border: 1px solid #565b8d;
    margin: auto auto;
    color: white;
    display: flex;
    font-size: 18pt;
    padding: 20px;
    animation: .3s appear forwards;
    animation-direction: reverse;
}
.EffectZone h1:hover{
    cursor: pointer;
}
.EffectZone ul li{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
ul{
    text-justify: left;
    text-align: left;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}

@media only screen and (min-width: 960px){
    .EffectZone{
    }
}

@media only screen and (min-width: 1200px){
    .EffectZone{
    }
}

@media only screen and (min-width: 1500px){
    .EffectZone{
    }
}

@keyframes appear{
    0%{
        transform: rotate3d(0,1,0, 90deg) scale(0.0001) ;
    }
    50%{
        transform:  rotate3d(0,1,0,90deg) translate(100px, 0px);
    }
    100%{
        transform: scale(1) translate(0px, 0px);
    }
}
